.xml-code {
  color: #fff;

  background-color: #272822;
  border-color: #3b3a32;
}

.xml-code:after {
  border-color: #333;
}

.line-number {
  color: #aaa;
}

.tag {
  border-color: #3b3a32;
}

.tag-name {
  color: #e72672;
}

.attribute-name {
  color: #a6e22b;
}

.attribute-equal-char {
  color: #e72672;
}

.attribute-value {
  color: #e6db67;
}

.comment-content {
  color: #777;
}

.expand {
  background: #272822;
  border-color: #3b3a32;
}

.search-phrase {
  background: #3b3539;
}
