.xml-code {
  color: #f5f5f3;

  background-color: #2d2a2e;
  border-color: #3b3a32;
}

.xml-code:after {
  border-color: #403e41;
}

.line-number {
  color: #5a585b;
}

.tag {
  border-color: #403e41;
}

.tag-name {
  color: #f85f85;
}

.attribute-name {
  color: #75d5e1;
}

.attribute-equal-char {
  color: #75d5e1;
}

.attribute-value {
  color: #fad465;
}

.comment-content {
  color: #727072;
}

.expand {
  background: #3b3539;
  border-color: #403e41;
}

.search-phrase {
  background: #3b3539;
}
